<script defer src="/admin.js" type="module"></script>

<h1>Admin</h1>

<div class="sessions">
  <h3>Sessions</h3>
  <ol class="sessions-list"></ol>
</div>

<hr>

<div class="containers">
  <h3>Containers</h3>
  <ol class="containers-list"></ol>
</div>

<hr>
