<script defer src="/admin.js" type="module"></script>

<h1>Admin</h1>

<div class="change-host">
  <h3>Change host</h3>
  <ol class="hosts-list"></ol>
</div>

<hr>

<div class="sessions">
  <h3>Sessions</h3>
  <ol class="sessions-list"></ol>
</div>

<hr>

<div class="containers">
  <h3>Containers</h3>
  <ol class="containers-list"></ol>
</div>

<hr>

<div class="run-container">
  <h3>Images</h3>
  <ol class="images-list"></ol>
</div>

<hr>

<div class="build-image">
  <h3>Dockerfiles</h3>
  <ol class="dockerfiles-list"></ol>
</div>
